<ion-view view-title="About">
  <ion-content class="has-footer" overflow-scroll="false" has-bouncing="true">
    <div class="list about">
      <div class="item item-image no-border">
        <img ng-src="{{baseUrl}}images/logo.png" style="width: 70%;">
      </div>
      <div class="item no-border text-center">
        <div class="title h2">About Melody</div>
      </div>
      <div class="row">
        <p class="artist-info-text">
          Melody is my first personal application, a music application. Hope you enjoy it!
        </p>
      </div>
      <div class="row">
        <p class="artist-info-text">
          If you find any bugs or you any advice, please create an issue on
          github.
        </p>
      </div>
      <div class="row">
        https://github.com/NevenLeung/melody-ionic
      </div>
    </div>
  </ion-content>
</ion-view>
