<ion-scroll direction="x" overflow-scroll="false" style="white-space: nowrap;">
  <label class="select-avatar inline-block" ng-repeat="avatar in avatarList">
    <input type="radio" ng-model="registration.avatar" ng-value="avatar">
    <img ng-src="{{baseUrl}}images/avatar/{{avatar}}" height="50px">
  </label>

  <!--<img ng-repeat="avatar in avatarList" ng-src="{{baseUrl}}images/avatar/{{avatar}}" height="50px">-->

  <!--<a class="button inline-button">this is a button : 1</a>-->
  <!--<a class="button">this is a button : 2</a>-->
  <!--<a class="button">this is a button : 3</a>-->
  <!--<a class="button">this is a button : 4</a>-->
  <!--<a class="button">this is a button : 5</a>-->
  <!--<a class="button">this is a button : 6</a>-->
  <!--<a class="button">this is a button : 7</a>-->
  <!--<a class="button">this is a button : 8</a>-->
  <!--<a class="button">this is a button : 9</a>-->
  <!--<a class="button">this is a button : 10</a>-->
</ion-scroll>

